# Introducción a Polars

In [21]:
import polars as pl

# Series

In [12]:
serie = pl.Series(
    name="mi_serie",
    values=[1, 2, 3, 4, 5]
)
serie

shape: (5,)
Series: 'mi_serie' [i64]
[
	1
	2
	3
	4
	5
]

# Operaciones con series

In [11]:
serie.filter(
    serie > 3
)

print(serie.filter(serie > 2))

shape: (3,)
Series: 'mi_serie' [i64]
[
	3
	4
	5
]

# Dataframes

In [24]:
df = pl.DataFrame(
    {
        "Pokemon": ["Pikachu", "Charmander", "Squirtle", "Bulbasaur"],
        "Tipo 1": ["Electric", "Fire", "Water", "Grass"],
        "Tipo 2": [None, None, None, "Poison"],
        "HP": [35, 39, 44, 45],
    }
)
df

shape: (4, 4)
┌────────────┬──────────┬────────┬─────┐
│ Pokemon    ┆ Tipo 1   ┆ Tipo 2 ┆ HP  │
│ ---        ┆ ---      ┆ ---    ┆ --- │
│ str        ┆ str      ┆ str    ┆ i64 │
╞════════════╪══════════╪════════╪═════╡
│ Pikachu    ┆ Electric ┆ null   ┆ 35  │
│ Charmander ┆ Fire     ┆ null   ┆ 39  │
│ Squirtle   ┆ Water    ┆ null   ┆ 44  │
│ Bulbasaur  ┆ Grass    ┆ Poison ┆ 45  │
└────────────┴──────────┴────────┴─────┘

In [50]:
df = pl.DataFrame(
    {
        "Pokemon": ["Pikachu", "Charmander", "Squirtle", "Bulbasaur"],
        "Tipo 1": ["Electric", "Fire", "Water", "Grass"],
        "Tipo 2": [None, None, None, None],
        "HP": [35, 39, 44, 45],
    },
    schema = {
        "Pokemon": pl.Utf8,
        "Tipo 1": pl.Utf8,
        "Tipo 2": pl.Utf8,
        "HP": pl.Int32,
    }
)
df

shape: (4, 4)
┌────────────┬──────────┬────────┬─────┐
│ Pokemon    ┆ Tipo 1   ┆ Tipo 2 ┆ HP  │
│ ---        ┆ ---      ┆ ---    ┆ --- │
│ str        ┆ str      ┆ str    ┆ i32 │
╞════════════╪══════════╪════════╪═════╡
│ Pikachu    ┆ Electric ┆ null   ┆ 35  │
│ Charmander ┆ Fire     ┆ null   ┆ 39  │
│ Squirtle   ┆ Water    ┆ null   ┆ 44  │
│ Bulbasaur  ┆ Grass    ┆ null   ┆ 45  │
└────────────┴──────────┴────────┴─────┘

In [51]:
# Simular que le pegaron al Pokemon, le bajaron 35 HP, y si sí poner que está vivo
df = df.with_columns(
    pl.col("HP") - 35

)
df

shape: (4, 4)
┌────────────┬──────────┬────────┬─────┐
│ Pokemon    ┆ Tipo 1   ┆ Tipo 2 ┆ HP  │
│ ---        ┆ ---      ┆ ---    ┆ --- │
│ str        ┆ str      ┆ str    ┆ i32 │
╞════════════╪══════════╪════════╪═════╡
│ Pikachu    ┆ Electric ┆ null   ┆ 0   │
│ Charmander ┆ Fire     ┆ null   ┆ 4   │
│ Squirtle   ┆ Water    ┆ null   ┆ 9   │
│ Bulbasaur  ┆ Grass    ┆ null   ┆ 10  │
└────────────┴──────────┴────────┴─────┘

In [52]:
# Agregar si está vivo o muerto
df = df.with_columns(
    pl.when(
        pl.col("HP") > 0
    ).then(
        pl.lit("Vivo")
    ).otherwise(
        pl.lit("Muerto")
    ).alias("Estado")
)

df

shape: (4, 5)
┌────────────┬──────────┬────────┬─────┬────────┐
│ Pokemon    ┆ Tipo 1   ┆ Tipo 2 ┆ HP  ┆ Estado │
│ ---        ┆ ---      ┆ ---    ┆ --- ┆ ---    │
│ str        ┆ str      ┆ str    ┆ i32 ┆ str    │
╞════════════╪══════════╪════════╪═════╪════════╡
│ Pikachu    ┆ Electric ┆ null   ┆ 0   ┆ Muerto │
│ Charmander ┆ Fire     ┆ null   ┆ 4   ┆ Vivo   │
│ Squirtle   ┆ Water    ┆ null   ┆ 9   ┆ Vivo   │
│ Bulbasaur  ┆ Grass    ┆ null   ┆ 10  ┆ Vivo   │
└────────────┴──────────┴────────┴─────┴────────┘

In [53]:
# Columna para decir si es la mascota de Pokemon o no (Pikachu)
df = df.with_columns(
    pl.when(
        pl.col("Pokemon") == "Pikachu"
    ).then(
        pl.lit(True)
    ).otherwise(
        pl.lit(False)
    ).alias("Es Mascota")
)
df

shape: (4, 6)
┌────────────┬──────────┬────────┬─────┬────────┬────────────┐
│ Pokemon    ┆ Tipo 1   ┆ Tipo 2 ┆ HP  ┆ Estado ┆ Es Mascota │
│ ---        ┆ ---      ┆ ---    ┆ --- ┆ ---    ┆ ---        │
│ str        ┆ str      ┆ str    ┆ i32 ┆ str    ┆ bool       │
╞════════════╪══════════╪════════╪═════╪════════╪════════════╡
│ Pikachu    ┆ Electric ┆ null   ┆ 0   ┆ Muerto ┆ true       │
│ Charmander ┆ Fire     ┆ null   ┆ 4   ┆ Vivo   ┆ false      │
│ Squirtle   ┆ Water    ┆ null   ┆ 9   ┆ Vivo   ┆ false      │
│ Bulbasaur  ┆ Grass    ┆ null   ┆ 10  ┆ Vivo   ┆ false      │
└────────────┴──────────┴────────┴─────┴────────┴────────────┘

# Filtrado

In [54]:
# Ver que pokemones tienen más de 5 de HP
df.filter(
    pl.col("HP") > 5
)
df

shape: (4, 6)
┌────────────┬──────────┬────────┬─────┬────────┬────────────┐
│ Pokemon    ┆ Tipo 1   ┆ Tipo 2 ┆ HP  ┆ Estado ┆ Es Mascota │
│ ---        ┆ ---      ┆ ---    ┆ --- ┆ ---    ┆ ---        │
│ str        ┆ str      ┆ str    ┆ i32 ┆ str    ┆ bool       │
╞════════════╪══════════╪════════╪═════╪════════╪════════════╡
│ Pikachu    ┆ Electric ┆ null   ┆ 0   ┆ Muerto ┆ true       │
│ Charmander ┆ Fire     ┆ null   ┆ 4   ┆ Vivo   ┆ false      │
│ Squirtle   ┆ Water    ┆ null   ┆ 9   ┆ Vivo   ┆ false      │
│ Bulbasaur  ┆ Grass    ┆ null   ┆ 10  ┆ Vivo   ┆ false      │
└────────────┴──────────┴────────┴─────┴────────┴────────────┘

In [56]:
df = pl.DataFrame({
    "a": [1, 2, 3, 4, 5],
    "b": [5, 4, 3, 2, 1],
})

# Operaciones aritméticas (suma de columnas)
df = df.with_columns(
    (pl.col("a") + pl.col("b")).alias("suma")
)

# Transformación: nueva columna con el logaritmo de "b"
df = df.with_columns(pl.col("b").log().alias("log_b"))

# Operación estadística (media de la columna "a")
mean_a = df.select(pl.col("a").mean()).to_numpy()

print(df)
print(mean_a)

PanicException: Failed to access NumPy array API capsule: PyErr { type: <class 'ModuleNotFoundError'>, value: ModuleNotFoundError("No module named 'numpy'"), traceback: None }