# **Introducción al curso: Python básico**

### **Notebook 1: Aspectos básicos de Python**
1. Variables.
2. Bucles.
3. Listas.
5. Condiciones.

# **1) VARIABLES**

##**1. Introducción a las variables**

En Python, las variables se crean automáticamente cuando se les asigna un valor. **No es necesario declarar el tipo de variable**, ya que Python es un lenguaje de **programación dinámico**.

In [2]:
# Creando una variable y asignándole un valor
nombre = "Deivi"
edad = 18

# Imprimiendo el contenido de las variables
print(nombre)
print(edad)

Deivi
18

##**2. Reglas para nombrar variables**

Al nombrar variables en Python, debemos seguir ciertas reglas para asegurarnos de que sean válidas.

    
*   El nombre de la variable debe comenzar con una letra (a-z, A-Z) o un guión bajo (_).
*   Puede contener letras, números y guiones bajos.
*   Python distingue entre mayúsculas y minúsculas, por lo que nombre y Nombre son dos variables diferentes.

In [3]:
# Ejemplos de nombres de variables válidos e inválidos
variable_valida = 42
variable_válida = "Hola"
_variable_valida = True

In [4]:
print(variable_valida, variable_válida, _variable_valida)

42 Hola True

In [ ]:
1variable_inválida = "Esto no funcionará"

SyntaxError: invalid decimal literal (1210751955.py, line 1)

##**3. Tipos de datos en Python**

###**3.1. Números**

In [4]:
entero = 42
flotante = 3.14

###**3.2. Cadenas de caracteres**

In [5]:
nombre = "Cuac"
apellido = 'Quackinson'

###**3.3. Booleanos**

In [6]:
verdadero = True
falso = False

###**3.1. Listas**

Las listas son colecciones ordenadas de elementos que pueden contener diferentes tipos de datos.

In [7]:
numeros = [1, 2, 3, 4, 5]
nombres = ["Pancho", "María", "Pedro"]

###**3.5. Tuplas**

Las tuplas son similares a las listas, pero son inmutables, lo que significa que no se pueden modificar una vez creadas.

In [8]:
coordenadas = (10, 20)

###**3.6. Diccionarios**

Los diccionarios son colecciones de pares clave-valor, que nos permiten acceder a los valores a través de una clave.

In [9]:
persona = {"nombre": "Deivi", "edad": 18, "Canción favorita": "Stairway to heaven"}

In [10]:
print(persona["nombre"])

Deivi

In [11]:
print(persona["edad"])

18

In [12]:
print(persona.items())

dict_items([('nombre', 'Deivi'), ('edad', 18), ('Canción favorita', 'Stairway to heaven')])

###**3.7. Conversión de tipos de datos**

En ocasiones, puede ser necesario convertir un tipo de dato en otro. Para ello, Python proporciona funciones para hacer estas conversiones.

In [13]:
# Conversión de número a cadena de caracteres
numero = 42
cadena_numero = str(numero)

# Conversión de cadena de caracteres a número entero
cadena_entero = "123"
entero = int(cadena_entero)

# Conversión de número flotante a número entero
flotante = 3.14
entero = int(flotante)

In [14]:
# int y str
print(type(numero),type(cadena_numero))

<class 'int'> <class 'str'>

In [15]:
# str e int
print(type(cadena_entero),type(entero))

<class 'str'> <class 'int'>

In [16]:
# float e int
print(type(flotante),type(entero))

<class 'float'> <class 'int'>

# **2) BUCLES**

##**2.1. Bucle "for"**

In [ ]:
# Ejemplo de bucle for para iterar sobre una lista
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    print(numero)

1
2
3
4
5

In [18]:
# Ejemplo de bucle for para iterar sobre una cadena de caracteres
mensaje = "Hola, mundo!"
for caracter in mensaje:
    print(caracter)

H
o
l
a
,

m
u
n
d
o
!

#### **EJERCICIO: Ajusta las cadenas para mostrar tus datos :D**

In [19]:
# Ejemplo de bucle for para iterar sobre un diccionario (versión con crisis existencial)
persona = {
    "nombre": "Jairo",  # Nombre artístico
    "edad": 26,  # 100% real no fake
    "Canción favorita": "El gato volador",
    "Mascota": "Perro salchicha gordo bachicha",  # RIP Tammy
    "Habilidad especial": "Autismo",  # La dvd tamos prros
    "Frase motivacional": "Las cosas divertidas son divertidas - Keionas",
}

print("--- FICHA TÉCNICA DEL HUMANO ---")
for clave, valor in persona.items():
    print(f"{clave.upper()}: {valor}")  # En mayúsculas para que suene más oficial

print("\nNota: Este diccionario es 87% real *guiño* *guiño*")

--- FICHA TÉCNICA DEL HUMANO ---
NOMBRE: Jairo
EDAD: 26
CANCIÓN FAVORITA: El gato volador
MASCOTA: Perro salchicha gordo bachicha
HABILIDAD ESPECIAL: Autismo
FRASE MOTIVACIONAL: Las cosas divertidas son divertidas - Keionas

Nota: Este diccionario es 87% real *guiño* *guiño*

##**2.2 Bucle "while"**

#### **EJERCICIO: Ajusta el bucle while y el contadorpara imprimir los números del 5 al 20**

In [20]:
# Ejemplo de bucle while para imprimir los números del 1 al 5
contador = 5
while contador <= 20:
    print(contador)
    contador += 1

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

#### **EXTRA: Ajusta el bucle while y el contador para imprimir los números del 20 al 5**

In [21]:
# Escribe aquí el código
# Ejemplo de bucle while para imprimir los números del 1 al 5
contador = 20
while contador >= 5:
    print(contador)
    contador -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5

In [22]:
# Ejemplo de bucle while con condición de salida
secreto = 7
intentos = 0

while True:
    guess = int(input("Adivina el número secreto: "))
    intentos += 1

    if guess == secreto:
        print(f"¡Correcto! Adivinaste en {intentos} intentos.")
        break # "Rompemos" el bucle infinito
    else:
        print("Número incorrecto. Intenta de nuevo.")

¡Correcto! Adivinaste en 1 intentos.

##**2.3. Break y continue"**

**break:** Detiene por completo el bucle y sale de él.

**continue:** Salta a la siguiente iteración del bucle sin ejecutar el código restante para esa iteración.

In [23]:
# Ejemplo de bucle for con sentencia break
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    if numero == 3:
        break
    print(numero)

1
2

In [24]:
# Ejemplo de bucle while con sentencia continue
contador = 0
while contador < 5:
    contador += 1
    if contador == 3:
        continue
    print(contador)

1
2
4
5

# **3) LISTAS**

##**3.1. Creación de listas**

In [25]:
# Crear una lista de números
numeros = [1, 2, 3, 4, 5]

# Crear una lista de cadenas de caracteres
nombres = ["Michael", "Dwight", "Jim"]

# Crear una lista mixta
mixta = [1, "Hola", 3.14, True]

##**3.2. Uso de bucles para construir listas**

In [26]:
# Ejemplo de comprensión de lista para generar una lista de cuadrados de los números del 1 al 5
cuadrados = [numero ** 2 for numero in range(1, 6)]
print(cuadrados)

[1, 4, 9, 16, 25]

In [27]:
sumas = [numero + 5 for numero in range(1, 9)]
print(sumas)

[6, 7, 8, 9, 10, 11, 12, 13]

#### **EJERCICIO: Crea una lista de la tabla del 7 (del 1 al 20)**

In [28]:
# Escribe aquí tu código
tabla7 = [7 * numero for numero in range(1, 11)]
print(tabla7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

##**3.3. Acceso a elementos de la lista**

In [29]:
# Acceder a elementos individuales de una lista
backyardigans = ["Pablo", "Tyrone", "Uniqua", "Tasha", "Austin"]

primer_backyardigan= backyardigans[0]

segundo_backyardigan = backyardigans[1]

print(primer_backyardigan)  # Salida: "Pablo"

print(segundo_backyardigan)  # Salida: "Tyron"

Pablo
Tyrone

#### **EJERCICIO: Tu primer матрёшка con listas**

In [30]:
espanol = ["Hola", "Adios"]
ingles = ["Hello", "Bye"]
frances = ["Bonjour", "Adieu"]
ruso = ["привет", "пока"]
idiomas = [espanol, ingles, frances, ruso]

# Accedemos al elemento 3 de la lista idiomas y al elemento 0 de la lista ruso
holaEnRuso = idiomas[3][0]

# ACCEDE A LA LISTA "IDIOMAS" PARA ESCRIBIR ADIÓS EN FRANCÉS
adiosEnFrances = idiomas[2][1]

# ESTE ES UN F STRING, PUEDES UNIR VARIABLES Y CADENAS
print(f'Hola en ruso es { holaEnRuso } y adiós en francés es { adiosEnFrances }')

Hola en ruso es привет y adiós en francés es Adieu

##**3.4. Modificación de elementos de la lista**

In [31]:
# Modificar elementos de una lista
backyardigans = ["Pablo", "Tyrone", "Uniqua", "Tasha", "Austin"]

# Escribe tu nombre
backyardigans[4] = "Jair"

print(backyardigans)  # Salida:  ["Pablo", "Tyrone", "Uniqua", "Tasha", "tu nombre"]

['Pablo', 'Tyrone', 'Uniqua', 'Tasha', 'Jair']

##**3.5. Operaciones con listas**

###**3.5.1 Agregar elementos**

In [32]:
# Agregar elementos a una lista
personajes = ["Shrek", "Buzz Lightyear"]

print(personajes)  # Salida: ["Shrek", "Buzz Lightyear"]

personajes.append("Spider-Man")

print(personajes)  # Salida: ["Shrek", "Buzz Lightyear", "Spider-Man"]

['Shrek', 'Buzz Lightyear']
['Shrek', 'Buzz Lightyear', 'Spider-Man']

###**3.5.2 Concatenar listas**

In [33]:
# Concatenar listas

dc = ["Batman", "Peace Maker", "Flash", "Joker"]

marvel = ["Iron Man", "Spider-Man", "Deadpool", "The Punisher"]

crossover = dc + marvel

print(crossover )  # Salida: ["Batman", "Peace Maker", "Flash", "Joker", "Iron Man", "Spider-Man", "Deadpool", "The Punisher"]

['Batman', 'Peace Maker', 'Flash', 'Joker', 'Iron Man', 'Spider-Man', 'Deadpool', 'The Punisher']

###**3.5.3  Longitud de la lista**

In [34]:
# Obtener la longitud de una lista
dc = ["Batman", "Peace Maker", "Flash", "Joker"]

longitud = len(dc)

print(longitud)  # Salida: 4

4

###**3.5.4  Eliminar elementos**

In [35]:
# Obtener la longitud de una lista
dc = ["Batman", "Peace Maker", "Flash", "Joker", "Groot"]

print(dc) # Salida: ["Batman", "Peace Maker", "Flash", "Joker", "Groot"]

dc.remove("Groot")

print(dc)  # Salida: ["Batman", "Peace Maker", "Flash", "Joker" ]

['Batman', 'Peace Maker', 'Flash', 'Joker', 'Groot']
['Batman', 'Peace Maker', 'Flash', 'Joker']

###**3.6. Iteración sobre listas**

In [36]:
# Iteración sobre una lista
backyardigans = ["Pablo", "Tyrone", "Uniqua", "Tasha", "Austin"]

for backyardigan in backyardigans:
    print(f'Yo soy { backyardigan }')

print(f'Y juntos somos los backyardigans')

Yo soy Pablo
Yo soy Tyrone
Yo soy Uniqua
Yo soy Tasha
Yo soy Austin
Y juntos somos los backyardigans

###**3.7. Rebanadas (slices)**

In [37]:
# Rebanadas (slices) de una lista
numeros = [1, 2, 3, 4, 5]

sublista = numeros[1:4]  # Obtiene elementos del índice 1 al 3 (sin incluir el 4)

print(sublista)  # Salida: [2, 3, 4]

[2, 3, 4]

###**3.8. Métodos útiles de listas**

Python proporciona varios métodos útiles para trabajar con listas, como **sort()**, **count()**, **index()**, **extend()**, entre otros.

In [38]:
# Ejemplo de algunos métodos de lista
numeros = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

numeros.sort()  # Ordena la lista

print(numeros)  # Salida: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [39]:
contador_unos = numeros.count(1)  # Cuenta cuántas veces aparece el número 1

print(contador_unos)  # Salida: 2

2

In [40]:
indice_cinco = numeros.index(5)  # Obtiene el índice de la primera aparición del número 5

print(indice_cinco)  # Salida: 6

6

# **4) CONDICIONES**

##**4.1. Sentencia if**

In [41]:
# Ejemplo de sentencia if
edad = 18
if edad >= 18:
    print("Eres mayor de edad.") # Salida: Eres mayor de edad

Eres mayor de edad.

##**4.2. Sentencia if-else**

In [42]:
# Ejemplo de sentencia if-else
edad = 16
if edad >= 18:
    print("Eres mayor de edad.")
else:
    print("Eres menor de edad.")

Eres menor de edad.

##**4.3. Sentencia if-elif-else**

In [43]:
# Ejemplo de sentencia if-elif-else
nota = 85
if nota >= 90:
    print("Tienes una A.")
elif nota >= 80:
    print("Tienes una B.")
elif nota >= 70:
    print("Tienes una C.")
else:
    print("Tienes una D o F.")

Tienes una B.

##**4.4. Operadores de comparación**

In [44]:
# Ejemplo de operadores de comparación
x = 5
y = 10
resultado = x > y
print(resultado)  # Salida: False

False

##**4.5. Operadores lógicos**

In [ ]:
# Ejemplo de operadores lógicos
# and, or, not
edad = 25
ingresos = 50000
if edad >= 18 and ingresos >= 30000:
    print("Cumpliste con los requisitos.")
else:
    print("No cumples con los requisitos.")

Cumpliste con los requisitos.

##**4.6. Condiciones con listas**

In [46]:
# Ejemplo de condición con listas
instrumentos = ["guitarra", "ukelele", "acordeón"]

instrumento = "mayonesa"

if instrumento in instrumentos:
    print(f"{ instrumento } está en la lista de instrumentos.")
else:
    print(f"{ instrumento } no está en la lista de instrumentos.")

mayonesa no está en la lista de instrumentos.

##**4.7. Condiciones anidadas**

In [47]:
# Ejemplo de anidamiento de condiciones
edad = 22
if edad >= 18:
    print("Eres mayor de edad.")

    if edad >= 21:
        print("También puedes beber alcohol.")
else:
    print("Eres menor de edad.")

Eres mayor de edad.
También puedes beber alcohol.

##**4.8. Condiciones anidadas con operadores lógicos**

In [48]:
# Ejemplo de condiciones anidadas con operadores lógicos
edad = 30

ingresos = 45000

trabajo_estable = True

if (edad >= 25 and ingresos >= 40000) or trabajo_estable:
    print("Cumpliste con al menos uno de los requisitos.")

else:
    print("No cumples con ningún requisito.")

Cumpliste con al menos uno de los requisitos.

##**4.9. Operadores condicional (ternario)**

In [49]:
# Ejemplo de operador condicional (ternario)
edad = 20
mensaje = "Eres mayor de edad." if edad >= 18 else "Eres menor de edad."
print(mensaje)

Eres mayor de edad.

#### **EJERCICIO: Determinar quién puede ingresar a una fiesta**

In [50]:
# Lista de invitados
invitados = [
    {"nombre": "Juan", "edad": 25},
    {"nombre": "María", "edad": 18},
    {"nombre": "Pedro", "edad": 30},
    {"nombre": "Ana", "edad": 16},
    {"nombre": "Carlos", "edad": 21},
]

In [51]:
# Solicitar al usuario ingresar su nombre y edad
nombre = input("Ingresa tu nombre: ")
edad = int(input("Ingresa tu edad: "))

In [52]:
# Verificar si el usuario está en la lista de invitados
esta_en_lista = False
es_menor_de_edad = edad < 18

In [53]:
# Revisamos la lista de invitados
for invitado in invitados:
    if invitado["nombre"] == nombre and invitado["edad"] >= 18:
        esta_en_lista = True
        break

In [54]:
# Determinar si el usuario puede ingresar a la fiesta
puede_ingresar = esta_en_lista and not es_menor_de_edad

In [55]:
# Mostrar el resultado
if puede_ingresar:
    print(f'¡Hola { nombre }! Disfruta la fiesta :)')
else:
    print("Lo siento, no puedes ingresar a la fiesta.")

¡Hola Juan! Disfruta la fiesta :)

# **5) FUNCIONES: PARTE I**

##**5.1. Definición de funciones**

In [56]:
# Definición de una función simple sin argumentos ni valor de retorno
def saludar():
    print("¡Hola!")

# Llamada a la función
saludar()

¡Hola!

##**5.2. Parámetros**

In [57]:
# Definición de una función con parámetros
def saludar(nombre):
    print(f"¡Hola { nombre }!" )

# Llamada a la función con un argumento
saludar("Juan")

¡Hola Juan!

##**5.3. Valores de retorno**

In [58]:
# Definición de una función que retorna un valor
def suma(a, b):
    resultado = a + b
    return resultado

# Llamada a la función y uso del valor retornado
resultado_suma = suma(5, 3)
print("El resultado de la suma es:", resultado_suma)

El resultado de la suma es: 8

## **Actividad de refuerzo c:**

**CÓDIGO ASCII**


---


El código ASCII (American Standard Code for Information Interchange) es un sistema de codificación que asigna un valor numérico único a diferentes caracteres utilizados en la comunicación electrónica.

El código ASCII utiliza 7 bits para representar **128 caracteres** diferentes. Estos caracteres incluyen letras mayúsculas y minúsculas, dígitos numéricos, signos de puntuación, símbolos matemáticos y una serie de caracteres de control utilizados para el formateo de texto y el control de dispositivos (por ejemplo \n)


---



### **Actividad**
El ejercicio es crear un conversor de texto a ASCII, así comprenderas como interpretan las computadoras, calculadoras, televisores, etc los carácteres.

Te apoyaremos con dos funciones que permiten realizar esa conversión, pero **OJO** solo se puede realizar esa conversión si el **número entero está entre 0 y 127** (recuerda que en informática se empieza a contar desde cero).


---


**TIPS**
- Utiliza listas que contengan cada caracter de tu nombre. Por ejemplo: **nombre = ['D','A','V','I','D']**
- Te recomendamos realizar el conversor dentro de una función (para reutilizar código a un futuro), recuerda que debe devolver algo.
- Para utilizar una condición para verificar datos utiliza

```
#  if isinstance(char, int): # Para verificar si es entero
```


- Itera sobre la lista usando un bucle.
- Una vez que logres el convertidor puedes implementar las siguientes funciones para optimizar el código:


```
# # Función para convertir una cadena en una lista de caracteres
def cadena_a_lista(cadena):
    return list(cadena)

# Función para convertir una lista de caracteres en una cadena
def lista_a_cadena(lista):
    return ''.join(lista)
```

In [59]:
# Función para convertir un número entero en su correspondiente carácter ASCII
def entero_a_ascii(entero):
    return chr(entero)

# Función para convertir un carácter ASCII en su correspondiente número entero
def ascii_a_entero(caracter):
    return ord(caracter)

In [60]:
# Pon tu respuesta aquí
# Con honooor hasta el final.
def convertidor(cadena):
  conversion = []

  # codigo c:

### Solucion

In [61]:
def convertidor(cadena):
  conversion = []

  # Iterar sobre la lista (cadena) NO OLVIDES LA IDENTACIÓN (USA TAB PARA IDENTAR, NO ESPACIO)
  for dato in cadena:

  # Validar el tipo de dato para convertir
    if isinstance(dato, int):
    # Validar SI está dentro del rango, avisar al usuario sino (si el dato es entero)
      if dato >= 0 and dato <= 127:
        valor = entero_a_ascii(dato)
        conversion.append(valor)

    elif isinstance(dato, str):
      valor = ascii_a_entero(dato)
      conversion.append(valor)

  return conversion

Cuando termines verifica tu código con los valores de prueba de abajo

In [62]:
# Escribe aquí la cadena que quieras
cadena_1 = ['D', 'A', 'V', 'I', 'D']
cadena_2 = [68, 65, 86, 73, 68]

cadena_convertida_1 = convertidor(cadena_1)
cadena_convertida_2 = convertidor(cadena_2)

print(cadena_convertida_1) # Salida [68, 65, 86, 73, 68]
print(cadena_convertida_2) # Salida ['D', 'A', 'V', 'I', 'D']

[68, 65, 86, 73, 68]
['D', 'A', 'V', 'I', 'D']